@use "./variables.scss" as *;
@use "./base.scss";

#quartz-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  & > #quartz-body {
    & .sidebar.left {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
      align-items: center;

      & .search {
        grid-area: 1 / 1 / 1 / 2;
      }

      & .darkmode {
        grid-area: 1 / 2 / 1 / 2;
        margin: 0;
      }

      @media (min-width: 640px) {
        display: flex;
      }

      @media (min-width: $fullPageWidth) {
        display: grid;
        grid-template-rows: min-content min-content min-content min-content;

        & .recent-notes {
          grid-area: 2 / 1 / 2 / 4;

          & ul li a.internal {
            font-family: var(--bodyFont);
          }
        }

        & .explorer {
          grid-area: 3 / 1 / 3 / 4;
        }

        & #quartz-attribution {
          grid-area: 4 / 1 / 4 / 4;
        }
      }
    }

    & .sidebar.right {
      flex-direction: column;

      @media (max-width: 640px) {
        gap: 1rem;
      }

      @media (min-width: 640px) {
        flex-direction: row;
      }

      @media (min-width: $fullPageWidth) {
        flex-direction: column;
      }
    }
  }
}

.spacer {
  @media (max-width: 640px) {
    display: none;
  }
}

.search {
  flex-grow: 1;
  max-width: none;

  @media (min-width: 640px) {
    max-width: 10rem;
  }

  @media (min-width: $fullPageWidth) {
    max-width: none;
  }

  & > #search-container {
    & > #search-space {
      & > * {
        box-shadow:
          0 20px 25px -5px rgb(0 0 0 / 0.1),
          0 8px 10px -6px rgb(0 0 0 / 0.1);
      }

      & > #search-layout {
        .highlight {
          background: color-mix(in srgb, var(--tertiary) 25%, rgba(255, 255, 255, 0));
        }
      }
    }
  }
}

.popover {
  & > .popover-inner {
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}

.meta {
  color: var(--gray);
}

:root[saved-theme="light"] {
  .callout {
    &[data-callout] {
      // Rose Piné "Base" (dawn).
      --bg: #faf4ed;
      // Rose Piné "Highlight Med" (dawn).
      --border: #dfdad9;
      // Rose Piné "Highlight Foam" (dawn).
      --color: #56949f;
    }
    &[data-callout="abstract"],
    &[data-callout="info"],
    &[data-callout="todo"],
    &[data-callout="tip"],
    &[data-callout="success"] {
      // Rose Piné "Highlight Foam" (dawn).
      --color: #56949f;
    }
    &[data-callout="question"],
    &[data-callout="warning"],
    &[data-callout="example"],
    &[data-callout="quote"] {
      // Rose Piné "Highlight Gold" (dawn).
      --color: #ea9d34;
    }
    &[data-callout="failure"],
    &[data-callout="danger"],
    &[data-callout="bug"] {
      // Rose Piné "Highlight Love" (dawn).
      --color: #b4637a;
    }
  }
}
:root[saved-theme="dark"] {
  .callout {
    &[data-callout] {
      // Rose Piné "Base" (moon).
      --bg: #232136;
      // Rose Piné "Highlight Med (moon).
      --border: #44415a;
      // Rose Piné "Highlight Pine" (moon).
      --color: #f6c177;
    }
    &[data-callout="abstract"],
    &[data-callout="info"],
    &[data-callout="todo"],
    &[data-callout="tip"],
    &[data-callout="success"] {
      // Rose Piné "Highlight Foam" (moon).
      --color: #9ccfd8;
    }
    &[data-callout="question"],
    &[data-callout="warning"],
    &[data-callout="example"],
    &[data-callout="quote"] {
      // Rose Piné "Highlight Gold" (moon).
      --color: #f6c177;
    }
    &[data-callout="failure"],
    &[data-callout="danger"],
    &[data-callout="bug"] {
      // Rose Piné "Highlight Love" (moon).
      --color: #eb6f92;
    }
  }
}

hr {
  overflow: visible;
  padding: 0;
  height: 0;
  margin: 4rem auto;
  border: none;
  text-align: center;
  width: 100%;

  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    color: var(--gray);
  }
}

.backlinks {
  li {
    color: var(--gray);
  }
}

.graph {
  & > .graph-outer {
    & > #global-graph-icon {
      color: var(--darkgray);
      opacity: 1;
    }
  }

  & > #global-graph-outer {
    & > #global-graph-container {
      box-shadow:
        0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
  }
}

// listPage.scss
li.section-li {
  & > .section {
    & > .meta {
      opacity: 1;
    }
  }
}

#toc-content {
  & ul {
    & > li > a {
      color: var(--secondary);

      &.in-view {
        opacity: 1;
      }
    }
  }
}

footer {
  text-align: center;
  margin: 2rem auto;
  opacity: 1;

  @media (min-width: $fullPageWidth) {
    margin: 0 auto;
  }

  & > p {
    color: var(--gray);
  }

  & > ul {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.not-found-page {
  text-align: center;
}

::selection {
  background: color-mix(in srgb, var(--tertiary) 50%, rgba(255, 255, 255, 0));
  color: var(--darkgray);
}

:root[saved-theme="dark"] {
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
