@use "./variables.scss" as *;
@use "./base.scss";

//#region Layout.

#quartz-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  margin: 2rem auto;
  opacity: 1;

  @media (min-width: $fullPageWidth) {
    margin: 0 auto;
  }

  & > p {
    color: var(--gray);
  }

  & > ul {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

//#region Layout left/right sidebar.

.page {
  & > #quartz-body {
    & .sidebar.left {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
      align-items: center;

      & .search {
        grid-area: 1 / 1 / 1 / 2;
      }

      & .darkmode {
        grid-area: 1 / 2 / 1 / 2;
        margin: 0;
      }

      @media (min-width: 640px) {
        display: flex;
      }

      @media (min-width: $fullPageWidth) {
        display: grid;
        grid-template-rows: min-content min-content min-content min-content;

        & .recent-notes {
          grid-area: 2 / 1 / 2 / 4;

          & ul li a {
            font-family: var(--bodyFont);
          }
        }

        & .explorer {
          grid-area: 3 / 1 / 3 / 4;
        }

        & #quartz-attribution {
          grid-area: 4 / 1 / 4 / 4;
        }
      }
    }

    & .sidebar.right {
      flex-direction: column;

      @media (max-width: 640px) {
        gap: 1rem;
      }

      @media (min-width: 640px) {
        flex-direction: row;
      }

      @media (min-width: $fullPageWidth) {
        flex-direction: column;
      }
    }
  }
}

.spacer {
  @media (max-width: 640px) {
    display: none;
  }
}

.search {
  flex-grow: 1;
  max-width: none;

  @media (min-width: 640px) {
    max-width: 10rem;
  }

  @media (min-width: $fullPageWidth) {
    max-width: none;
  }

  & > #search-container {
    & > #search-space {
      & > * {
        box-shadow:
          0 20px 25px -5px rgb(0 0 0 / 0.1),
          0 8px 10px -6px rgb(0 0 0 / 0.1);
      }

      & > #search-layout {
        .highlight {
          background: color-mix(in srgb, var(--tertiary) 25%, rgba(255, 255, 255, 0));
        }
      }
    }
  }
}

#toc-content {
  & ul {
    & > li > a {
      color: var(--secondary);

      &.in-view {
        opacity: 1;
      }
    }
  }
}

.backlinks {
  li {
    color: var(--gray);
  }
}

.graph {
  & > .graph-outer {
    & > #global-graph-icon {
      color: var(--darkgray);
      opacity: 1;
    }
  }

  & > #global-graph-outer {
    & > #global-graph-container {
      box-shadow:
        0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
  }
}

//#region Article content.

.meta {
  color: var(--gray);
}

p,
ul,
text,
a,
tr,
td,
li,
ol,
ul,
.katex,
.math {
  hyphens: none;
  text-wrap: wrap;
}

//#region Article callouts.

:root[saved-theme="light"] {
  .callout {
    &[data-callout] {
      // Rose Piné "Base" (dawn).
      --bg: #faf4ed;
      // Rose Piné "Highlight Med" (dawn).
      --border: #dfdad9;
      // Rose Piné "Highlight Foam" (dawn).
      --color: #56949f;
    }
    &[data-callout="abstract"],
    &[data-callout="info"],
    &[data-callout="todo"],
    &[data-callout="tip"],
    &[data-callout="success"] {
      // Rose Piné "Highlight Foam" (dawn).
      --color: #56949f;
    }
    &[data-callout="question"],
    &[data-callout="warning"],
    &[data-callout="example"],
    &[data-callout="quote"] {
      // Rose Piné "Highlight Gold" (dawn).
      --color: #ea9d34;
    }
    &[data-callout="failure"],
    &[data-callout="danger"],
    &[data-callout="bug"] {
      // Rose Piné "Highlight Love" (dawn).
      --color: #b4637a;
    }
  }
}
:root[saved-theme="dark"] {
  .callout {
    &[data-callout] {
      // Rose Piné "Base" (moon).
      --bg: #232136;
      // Rose Piné "Highlight Med (moon).
      --border: #44415a;
      // Rose Piné "Highlight Pine" (moon).
      --color: #f6c177;
    }
    &[data-callout="abstract"],
    &[data-callout="info"],
    &[data-callout="todo"],
    &[data-callout="tip"],
    &[data-callout="success"] {
      // Rose Piné "Highlight Foam" (moon).
      --color: #9ccfd8;
    }
    &[data-callout="question"],
    &[data-callout="warning"],
    &[data-callout="example"],
    &[data-callout="quote"] {
      // Rose Piné "Highlight Gold" (moon).
      --color: #f6c177;
    }
    &[data-callout="failure"],
    &[data-callout="danger"],
    &[data-callout="bug"] {
      // Rose Piné "Highlight Love" (moon).
      --color: #eb6f92;
    }
  }
}

//#region Article code blocks.

figure[data-rehype-pretty-code-figure] {
  & > [data-rehype-pretty-code-title] {
    font-size: 0.9rem;
    padding: 0;
    border: none;
    width: 100%;
    border-radius: none;
    text-align: center;
    color: var(--gray);

    &::before {
      content: "=== ";
    }
    &::after {
      content: " ===";
    }
  }
}

figcaption[data-rehype-pretty-code-caption] {
  font-family: var(--codeFont);
  font-size: 0.9rem;
  border: none;
  width: 100%;
  margin-top: -0.5rem;
  text-align: center;
  color: var(--gray);
}

pre {
  & > code {
    font-size: 0.9rem;
    padding: 1rem 0;

    &[data-line-numbers] {
      & > [data-line] {
        &::before {
          counter-increment: line;
          content: counter(line);
        }
      }
    }

    & > [data-line] {
      padding: 0 1rem;

      &::before {
        content: none;
        color: var(--gray);
      }
    }
  }
}

//#region Article divider.

hr {
  font-family: var(--codeFont);
  overflow: visible;
  height: 0;
  margin: 4rem auto;
  text-align: center;

  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1rem 0;
    font-size: 1.5rem;
    color: var(--gray);
  }
}

//#region Other page(s).

.page-listing {
  & > p {
    color: var(--tertiary);
  }
}

// From: listPage.scss
li.section-li {
  & > .section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    @media (max-width: $mobileBreakpoint) {
      display: flex;
      flex-direction: column-reverse;
    }

    & > .meta {
      opacity: 1;
    }
  }
}

.not-found-page {
  text-align: center;
}

//#region misc.

.popover {
  & > .popover-inner {
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}

::selection {
  background: color-mix(in srgb, var(--tertiary) 50%, rgba(255, 255, 255, 0));
  color: var(--darkgray);
}

:root[saved-theme="dark"] {
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
